ul {
  list-style: none;
  padding: 0;
  height: 0;
  overflow: hidden;
  font-size: .8rem;

  &.expanded{
    height: auto;
  }
}


.menu-wrapper {
  list-style: none;
  background-color: #000;
  padding: 30px;
}


