
$surface-primary-color: #fff;
$surface-secondary-color: #f6f6f6;
$surface-tertiary-color: #e3e3e3;


$accent-color: #a0f4d3;


$text-primary-color: #8f8f8f;
$text-secondary-color: #bbbbbb;
$text-primary-color-inverted: #effff8;