<div class="container">
  <div class="row">
    <div class="col-md-12">
      <expandable-list onHover [data]="menuItems">
        <ng-template #listItem let-item>
          <menu-item 
            [label]="item.name" 
            [path]="item.path" 
            [isActive]="item.active"
            [isToplevel]="item.isToplevel">
          </menu-item>
        </ng-template>
      </expandable-list>
    </div>
  </div>
</div>



<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <menu-wrapper [items]="menuItems" [isExpanded]="true">
        <menu-item 
          [label]="item.name"
          [path]="item.path"
          [childrens]="item.childrens"
          [isActive]="item.active"
          [isToplevel]="item.isToplevel">
        </menu-item>
      </menu-wrapper>
    </div>
  </div>
</div> -->