@import '../../../../assets/scss/light-scheme.scss';
@import '../../../../assets/scss/dimensions.scss';


.topbar {
  background-color: grey;
}

.sidebar-left {
  -ms-flex: 0 0 230px;
  flex: 0 0 230px;
  height: 100%;
  border-right: 1px #ededed solid;
  width: $sidebar-width;
  &.collapsed {
    flex: 0 0 20px;
    width: 50px;
  } 
}

div[class^="sidebar"] {
  position: relative;
  transition: all ease-in-out .2s;
  z-index: 2000;
  background-color: $surface-primary-color;
  .sidebar-container {
    position: relative;
    z-index: auto;
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
  }
}

.primary {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;

}

.sidebar-right {
  background-color: rgb(224, 224, 224);
  -ms-flex: 0 0 230px;
  flex: 0 0 230px;
  height: 100%;
  &.collapsed {
    flex: 0 0 20px;
    width: 50px;
  } 

}

.bottombar {
  background-color: blue
}

.full-height {
  height: 100vh;
}

.no-padding { 
  padding: 0;
}


.button-wrapper {
  max-width: 50px;
  margin: 0 auto;
  font-size: 20px;
  padding: 40px 0;
}

.collapsed .button-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

