
<div class="container-fluid no-padding">
  <div class="row">
    <div class="topbar col-12">
      <router-outlet name="app-view-topbar"></router-outlet>
    </div>
  </div>
  <div class="row full-height no-gutters">
    <div #sidebarLeft="collapsibleRef" collapsible class="sidebar-left col">
      <div class="button-wrapper">
        <switch-button [(state)]="sidebarLeft.isCollapsed" ></switch-button>
      </div>
      <ng-container *ngFor="let item of sidebarLeftComponents">
        <div *inject="item.component; context: { isCollapsed: sidebarLeft.isCollapsed }"></div>
      </ng-container>
    </div>
      <div grid-column [@routeAnimations]="trigger"  class="primary col">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <div #sidebarRight collapsible class="sidebar-right col collapsed">
      <!-- <ng-container *ngFor="let item of sidebarRightComponents">
        <ng-container *inject="{ component: item.component, inputs: { parent: sidebarRight }}"></ng-container>
      </ng-container> -->
    </div>  
  </div>
  <div class="row">
    <div class="bottombar col-12">
      <router-outlet name="app-view-footer"></router-outlet>
    </div>
  </div>
</div>

