.collapsed {
  display: none;
}

.topbar {
  background-color: grey;
}

.sidebar-left {
  background-color: greenyellow;
}

.sidebar-right {
  background-color: red;
}

.bottombar {
  background-color: blue
}