@import '../../../../../../assets/scss/light-scheme.scss';

:host {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-weight: 300;
  cursor: pointer;
  transition: transform ease-in-out .2s;
  //transition: background-color ease-in-out .2s;


  &.active {
    font-weight: 600;
    i { 
      opacity: 1;
      color: $accent-color;
    }
  }

  &.top-level {
    font-size: 1.4em;
    padding-bottom: 5px;
  }

  &:not(.top-level) {
    font-size: 1em;
  }

  &.narrow {
    text-align: center; 
    height: 45px;
    line-height: 45px;
    transform: scale(1, 1);

    i {
      font-size: 1.4em;
      padding: 0;
      opacity: 1;
      transition: transform ease-in-out .2s;
    }

    &.focus {
      background-color: $accent-color;
      transform: scale(1, 1.2);
      i { 
        color: $text-primary-color-inverted;
        transform: scale(1, 0.85);
      }
    }
    
  }

  i {
    font-size: 0.8em;
    padding-right: 10px;
    opacity: 0.5;
  }
  a {
    display: block;
    height: 100%;
    width: 100%;
  }

  i, a {
    color: inherit;
    vertical-align: middle;
  }

  &:hover a {
    text-decoration: none;
  }

  &:not(.active):hover a {
    font-weight: 500;
  }
}