<floating-tray #floatingTray>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="navigation">
          <h2>{{ submenuTitle }}</h2>
          <ul>
            <li *ngFor="let item of submenuItems" (mouseover)="floatingTray.toggle()">
              <menu-item 
                [icon]="item.icon"
                [label]="item.name" 
                [path]="item.path" 
                [isActive]="item.active"
                [isToplevel]="item.isToplevel">
              </menu-item>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</floating-tray>


