@import '../../../../../../assets/scss/light-scheme.scss';

.widget-button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;

  .circle {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: $text-primary-color;
    color: #fff;
    margin: 10px;
    line-height: 15px;
    font-weight: 700;
    font-size: 8px;
  }

  &:hover .circle {
    background-color: $accent-color;
  }
}