<div class="app-wrapper">
  <div class="row">
    <ng-container *ngTemplateOutlet="isUserExists ? tripleColumnGrid : singleColumnGrid;"></ng-container>
  </div>
</div>



<!-- View template with 3 outlets -->
<ng-template #tripleColumnGrid>
  <div grid-column [config]="{ width: 3 }">
    <router-outlet name="sidebar-left"></router-outlet>
  </div>
  <div grid-column [config]="{ width: 6 }">
    <router-outlet></router-outlet>
  </div>
  <div grid-column [config]="{ width: 3 }">
    <router-outlet name="sidebar-right"></router-outlet>
  </div>
</ng-template>

<!-- View template with 1 outlet -->
<ng-template #singleColumnGrid>
  <div grid-column [config]="{ width: 12 }">
    <router-outlet></router-outlet>
  </div>
</ng-template>



