<content-tile [routerLink]="urlSegment">
  <tile-header>
    <span>{{ date | date:'MMMM d, y, h:mm a' }}</span>
  </tile-header>
  <tile-body>
    <h2>{{ title }}</h2>
    <p>{{ excerpt }}...</p>
  </tile-body>
  <tile-footer>
    <div class="row no-gutters h-100 insertion-spots-wrapper">
      <div class="col-6 h-100 ">
        <ng-container *inject="insertionSpotLeft; context: { discussionId: id, activityId: id, authorId: id }" ></ng-container>
      </div>
      <div class="col-6 h-100">
        <ng-container *inject="insertionSpotRight; context: { discussionId: id, activityId: id, authorId: id }" ></ng-container>
      </div>
    </div>
  </tile-footer>
</content-tile>


<floating-tray>

  
</floating-tray>
